<div class="col-md-4">
  <div *ngFor="let d of items">
    <div class="thumbnail">
      <div>{{d.discount}} off</div>
      <img src="{{d.img_url}}">
      <div class="caption">
        <div class="col-md-6">
          <div>{{d.price}}</div>
          
        </div>
        <div class="col-md-6">
          <p>
            <a href="#" class="btn btn-primary btn-sm" (click)="addToCart('helo')" role="button">Add to cart</a>
          </p>
      </div>
      <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
    